VITE_MAPBOX_TOKEN=your_mapbox_public_token_here
VITE_LINZ_API_KEY=your_linz_basemaps_api_key_here
VITE_LINZ_LDS_KEY=your_linz_lds_api_key_here
VITE_SENTINEL_INSTANCE_ID=your_sentinel_hub_instance_id_here
